html {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 224, 159);
}

body {
    margin-block: 30px;
    margin-inline: auto;
    width: 95vw;
}

h1, h2, h3 {
    font-family: Garamond, serif;
}

p, li {
    font-family: "Lucida Handwriting", cursive;
    text-align: justify;
    max-width: 1000px;
}

li {
    margin-bottom: 20px;
}

span {
    font-style: italic;
}