html {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 224, 159);
}

body {
    margin-left: 15px;
}

h1, h2, h3 {
    font-family: Garamond, serif;
}

p, li {
    font-family: "Lucida Handwriting", cursive;
}

li {
    margin-bottom: 20px;
}

span {
    font-style: italic;
}